body {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 242, 241);
}

#timer {
    font-size: 12rem;
    font-weight: 600;
    color: rgb(46, 3, 3);
    margin: 3rem 0;
}

#display {
    font-size: 1.7rem;
    transform: translateY(50px);
    font-weight: 600;
}

#session {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
}

.session-special {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 3, 3);
    color: white;
    padding: 2.2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.session-number {
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: .5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
}

button {
    flex: 1 1 0;
    min-width: 160px;
    max-width: 220px;
    cursor: pointer;
    font-size: 1.1rem;
    color: azure;
    background-color: rgb(120, 32, 32);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 1.2rem 0;
    transition: all 0.3s ease;
    margin-top: -2rem;
}

#reset {
    background-color: rgb(189, 73, 73);
}

#reset:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(189, 73, 73);
    border: 2px solid rgb(189, 73, 73);
}

#start:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(120, 32, 32);
    border: 2px solid rgb(120, 32, 32);
}

#skip:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(120, 32, 32);
    border: 2px solid rgb(120, 32, 32);
}
#skip {
    background-color: rgb(189, 46, 46);
}

@media (max-width: 900px) {
    #timer {
        font-size: 6rem;
        margin: 2rem 0;
    }

    #display {
        font-size: 1.2rem;
        transform: translateY(20px);
    }

    .session-special {
        padding: 1rem;
        font-size: 1rem;
    }

    .button-container {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        align-items: center;
    }

    button {
        width: 90%;
        min-width: 120px;
        font-size: 1rem;
        padding: 1rem 0;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.2rem;
    }

    #timer {
        font-size: 3rem;
        margin: 1rem 0;
    }

    #display {
        font-size: 1rem;
        transform: translateY(10px);
    }

    .session-special {
        width: 95%;
        padding: 0.7rem;
    }

    button {
        width: 100%;
        min-width: 100px;
        font-size: 0.9rem;
        padding: 0.7rem 0;
    }
}